<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="RootConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss, America/Chicago} [%t] %level %logger - %ex %m%n</pattern>
        </encoder>
    </appender>

    <root level="${ENV_ROOT_LOGGER_LEVEL:-info}">
        <appender-ref ref="RootConsoleAppender"/>
    </root>

</configuration>